@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{

    body
    {
        background-color: #000300;
        font-family: 'Poppins', sans-serif;
        
    }

    .no-scroll::-webkit-scrollbar {
        display: none;
      }

    .text-content
    {
        position: absolute;
        z-index: 10;
        bottom: -100%;
        background-color: #ffffffc0;
    }

    .card:hover .text-content
    {
        bottom: 0;
    }
}